/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.card{
  width: '18rem'
}

.input-form-container {
  position: absolute;
  z-index: 999;  
  top: 0.5rem;
  right: 0.5rem;
  width: 25%;
}

@media (max-width: 768px) {
  .input-form-container {
    top: auto;
    position: fixed;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;    
  }

  .colapse-button{
    top: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; 
  }
}

.colapse-button{
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.input-card {
  top: 3rem;
  
}